html,body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

#diagram{
    height:100%;
}
.Toolbar {
    position:absolute;
    top:0;
    left:0;
}
.DiagramNode:hover{
    outline:auto;
}
.DiagramNode.hasNoChildren .Toggle{
    display:none;
}